@use "__globals" as G;
@use "./components/_text" as TEXT;

.features {
    text-align: center;
    padding: 200px G.$xPadding;

    &__image {
        margin-bottom: 70px;
    };

    &__about {
        > * {
            margin-bottom: 20px;
        }
    }

}

.feature__item {
    @extend .text--small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

@media (min-width: G.$breakpointDesktop) {
    .features {
        padding: G.$yPadding--desktop G.$xPadding--desktop;
    }
}

