@use "__globals" as G;
@use "./components/_text" as TEXT;
@use "./components/_outline" as OUTLINE;

footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;

    padding: G.$yPadding G.$xPadding;
    background: rgba(250, 250, 250, 1);

}

.footer {
    &__socialMedias {
        gap: -10px;
        display: flex;
        align-items: center;

        > .icon > img {
            top: 0%; left: 0%;
            transform: translateX(-30%); /* WORKAROUND SINCE THESE ASSETS HAS EXCESSIVE SPACE*/
        }
    }

    &__navGroups {
        display: flex;
        flex-direction: column;
        gap: 20px;

        flex: 1;
        justify-content: space-between;
    }

    &__about {
        flex: 0.8;
    }
}


.navGroup {
    > p {
        @extend .text--large;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

@media (min-width: G.$breakpointDesktop) {
    footer {
        flex-direction: row;
        padding: calc(G.$yPadding--desktop*5) G.$xPadding--desktop;
        padding-bottom: G.$yPadding;
    }

    .footer__navGroups {
        flex-direction: row;
        justify-content: space-between;
    }
}